<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Good Hands  Social- Trocas e Doações</title>


    <!-- Prevent the demo from appearing in search engines -->
    <meta name="robots" content="noindex">

    <!-- App CSS -->
    <link type="text/css" href="~/hometheme/assets/css/app.css" rel="stylesheet">
    <link type="text/css" href="~/hometheme/assets/css/app.rtl.css" rel="stylesheet">

    <!-- Simplebar -->
    <link type="text/css" href="~/hometheme/assets/vendor/simplebar.css" rel="stylesheet">
</head>

<body>
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-fullbleed data-push data-responsive-width="992px" data-has-scrolling-region>

        <div class="mdk-drawer-layout__content">
            <!-- header-layout -->
            <div class="mdk-header-layout js-mdk-header-layout  mdk-header--fixed  mdk-header-layout__content--scrollable">
                <!-- header -->
                <div class="mdk-header js-mdk-header bg-primary" data-fixed>
                    <div class="mdk-header__content">

                        <nav class="navbar navbar-expand-md navbar-dark bg-primary d-flex-none">
                            <button class="btn btn-link text-white pl-0" type="button" data-toggle="sidebar">
                                <i class="material-icons align-middle md-36">short_text</i>
                            </button>
                            <div class="page-title m-0">Feeds</div>

                            <div class="collapse navbar-collapse" id="mainNavbar">
                                <ul class="navbar-nav ml-auto align-items-center">
                                    <li class="nav-item nav-link">
                                        <div class="form-group m-0">
                                            <div class="input-group input-group--inline">
                                                <div class="input-group-addon">
                                                    <i class="material-icons">search</i>
                                                </div>
                                                <input type="text" class="form-control" name="search" placeholder="Search app..">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown nav-language d-flex align-items-center">
                                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            EN
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right ">
                                            <ul class="list-unstyled">
                                                <li>
                                                    <a href="#" class="dropdown-item active">
                                                        <img src="http://flags.fmcdn.net/data/flags/w1160/us.png" style="width: 25px; vertical-align: middle" alt="English"> English
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item">
                                                        <img src="http://flags.fmcdn.net/data/flags/w1160/fr.png" style="width: 25px; vertical-align: middle" alt="French"> French
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="dropdown-item">
                                                        <img src="http://flags.fmcdn.net/data/flags/w1160/de.png" style="width: 25px; vertical-align: middle" alt="English"> German
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown notifications d-flex align-self-center align-items-center" id="navbarNotifications">
                                        <a href="#" class="nav-link dropdown-toggle notifications--active" data-toggle="dropdown" aria-expanded="false">
                                            <i class="material-icons align-middle">notifications</i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="notificationsDropdown" id="notificationsDropdown">
                                            <ul class="nav nav-tabs-notifications" id="notifications-ul" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link active" id="notifications-tab" data-toggle="tab" href="#notifications" role="tab" aria-controls="notifications" aria-selected="true">Notifications</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="alerts-tab" data-toggle="tab" href="#alerts" role="tab" aria-controls="alerts" aria-selected="false">Alerts</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Messages</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="notifications-tabs">
                                                <div class="tab-pane fade show active" id="notifications" role="tabpanel" aria-labelledby="notifications-tab">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">
                                                            <div class="w-100">
                                                                <a href="#">john</a> received a new quote
                                                            </div>
                                                            <div class="w-100 text-muted">4 secs ago</div>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <div class="w-100">
                                                                <a href="#">karen</a> received a new quote
                                                            </div>
                                                            <div class="w-100 text-muted">25 mins ago</div>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <div class="w-100">
                                                                <a href="#">jim</a> received a new quote
                                                            </div>
                                                            <div class="w-100 text-muted">7 hrs ago</div>
                                                        </li>
                                                        <li class="list-group-item text-right">
                                                            <a href="#">
                                                                <span class="align-middle">View All</span>
                                                                <i class="material-icons md-18 align-middle">arrow_forward</i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="tab-pane fade" id="alerts" role="tabpanel" aria-labelledby="alerts-tab">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">
                                                            <div class="media align-items-center">
                                                                <i class="material-icons align-middle mr-2 text-warning">
                                                                    info_outline
                                                                </i>
                                                                <div class="media-body">
                                                                    <div class="w-100">
                                                                        <a href="profile.html">john</a> received a new
                                                                        <a href="#">quote</a>
                                                                    </div>
                                                                    <div class="w-100 text-muted">4 secs ago</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <div class="media align-items-center">
                                                                <i class="material-icons align-middle mr-2 text-success">
                                                                    check_circle
                                                                </i>
                                                                <div class="media-body">
                                                                    <div class="w-100">
                                                                        <a href="profile.html">karen</a> completed a
                                                                        <a href="#">task</a>
                                                                    </div>
                                                                    <div class="w-100 text-muted">25 mins ago</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <div class="media align-items-center">
                                                                <i class="material-icons align-middle mr-2 text-danger">
                                                                    warning
                                                                </i>
                                                                <div class="media-body">
                                                                    <div class="w-100">
                                                                        <a href="profile.html">jim</a> removed a
                                                                        <a href="#">task</a>
                                                                    </div>
                                                                    <div class="w-100 text-muted">7 hrs ago</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item text-right">
                                                            <a href="#">
                                                                <span class="align-middle">View All</span>
                                                                <i class="material-icons md-18 align-middle">arrow_forward</i>
                                                            </a>
                                                        </li>
                                                        <partial name="_LoginPartial" />
                                                    </ul>
                                                </div>
                                                <div class="tab-pane fade" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                                                    <ul class="list-group list-group-flush">
                                                        <li class="list-group-item">
                                                            <div class="media align-items-center">
                                                                <a href="#">
                                                                    <img src="~/hometheme/assets/images/avatars/person-1.jpg" class="img-fluid rounded-circle mr-2" width="35" alt="">
                                                                </a>
                                                                <div class="media-body">
                                                                    <div class="w-100">I started that project we talked...</div>
                                                                    <div class="w-100 text-muted">4 secs ago</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <div class="media align-items-center">
                                                                <a href="#">
                                                                    <img src="~/hometheme/assets/images/avatars/person-16.jpg" class="img-fluid rounded-circle mr-2" width="35" alt="">
                                                                </a>
                                                                <div class="media-body">
                                                                    <div class="w-100">Can we arrange a meeting?...</div>
                                                                    <div class="w-100 text-muted">25 mins ago</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <div class="media align-items-center">
                                                                <a href="#">
                                                                    <img src="~/hometheme/assets/images/avatars/person-12.jpg" class="img-fluid rounded-circle mr-2" width="35" alt="">
                                                                </a>
                                                                <div class="media-body">
                                                                    <div class="w-100">We need to fix some bugs...</div>
                                                                    <div class="w-100 text-muted">7 hrs ago</div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item text-right">
                                                            <a href="#">
                                                                <span class="align-middle">View All</span>
                                                                <i class="material-icons md-18 align-middle">arrow_forward</i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item nav-divider">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link dropdown-toggle dropdown-clear-caret" data-toggle="sidebar" data-target="#user-drawer">
                                            <mat-icon class="material-icons">list</mat-icon>
                                            <img src="https://pbs.twimg.com/profile_images/928893978266697728/3enwe0fO_400x400.jpg" class="img-fluid rounded-circle ml-1" width="35"
                                                 alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>

                <!-- content -->
                <div class="mdk-header-layout__content top-navbar mdk-header-layout__content--scrollable h-100">
                    <!-- main content -->

                    <div class="container-fluid">
                        @RenderBody()

                    </div>
                </div>
            </div>

        </div>
        <!-- // END drawer-layout__content -->
        <!-- drawer -->
        <div class="mdk-drawer js-mdk-drawer" id="default-drawer">
            <div class="mdk-drawer__content">
                <div class="mdk-drawer__inner" data-simplebar data-simplebar-force-enabled="true">

                    <nav class="drawer  drawer--dark">
                        <div class="drawer-spacer">
                            <div class="media align-items-center">
                                <a href="#" class="drawer-brand-circle mr-2">S</a>
                                <div class="media-body">
                                    <a href="#" class="h5 m-0 text-link">Good Hands</a>
                                </div>
                            </div>
                        </div>
                        <!-- HEADING -->
                        <div class="py-2 drawer-heading">
                            Dashboards
                        </div>
                        <!-- DASHBOARDS MENU -->
                        <ul class="drawer-menu" id="dasboardMenu" data-children=".drawer-submenu">


                            <li class="drawer-menu-item active ">
                                <a asp-controller="Home" asp-action="Index">
                                    <i class="material-icons">pages</i>
                                    <span class="drawer-menu-text"> Feeds </span>
                                </a>
                            </li>
                        </ul>

                        <!-- HEADING -->
                        <div class="py-2 drawer-heading">
                            Pages
                        </div>

                        <!-- PAGES MENU -->
                        <ul class="drawer-menu" id="pagesMenu" data-children=".drawer-submenu">
                            <li class="drawer-menu-item">
                                <a asp-controller="Profile" asp-action="Index">
                                    <i class="material-icons">edit</i>
                                    <span class="drawer-menu-text">Perfis</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="drawer-menu" id="pagesMenu" data-children=".drawer-submenu">
                            <li class="drawer-menu-item">
                                <a asp-controller="Donation" asp-action="Index">
                                    <i class="material-icons">create</i>
                                    <span class="drawer-menu-text">Doações</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- // END drawer -->
        <!-- drawer -->
        <div class="mdk-drawer js-mdk-drawer" id="user-drawer" data-position="right" data-align="end">
            <div class="mdk-drawer__content">
                <div class="mdk-drawer__inner" data-simplebar data-simplebar-force-enabled="true">
                    <nav class="drawer drawer--light">
                        <div class="drawer-spacer drawer-spacer-border">
                            <div class="media align-items-center">
                                <img src="https://pbs.twimg.com/profile_images/928893978266697728/3enwe0fO_400x400.jpg" class="img-fluid rounded-circle mr-2" width="35" alt="">
                                <div class="media-body">
                                    <a href="#" class="h5 m-0">Configurações</a>
                                    <div>Gerenciamento de Conta</div>
                                </div>
                            </div>
                        </div>
                        <div class="drawer-spacer bg-body-bg">
                        </div>
                        <!-- MENU -->
                        <ul class="drawer-menu" id="userMenu" data-children=".drawer-submenu">
                            <li class="drawer-menu-item">
                                <a asp-area="Identity" asp-page="/Account/Manage/Index">
                                    <i class="material-icons">lock</i>
                                    <span class="drawer-menu-text"> Account </span>
                                </a>
                            </li>
                            <li class="drawer-menu-item">
                                <a asp-area="Identity" asp-page="/Account/Login">
                                    <i class="material-icons">account_circle</i>
                                    <span class="drawer-menu-text">Login</span>
                                </a>
                            </li>
                            <li class="drawer-menu-item">
                                <a asp-area="Identity" asp-page="/Account/Register">
                                    <i class="material-icons">account_circle</i>
                                    <span class="drawer-menu-text">Register</span>
                                </a>
                            </li>
                            <li class="drawer-menu-item">
                                <a asp-area="Identity" asp-page="/Account/Logout">
                                    <i class="material-icons">exit_to_app</i>
                                    <span class="drawer-menu-text">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- // END drawer -->

    </div>
    <!-- // END drawer-layout -->
    <!-- jQuery -->
    <script src="assets/vendor/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/hometheme/assets/vendor/popper.js"></script>
    <script src="~/hometheme/assets/vendor/bootstrap.min.js"></script>

    <!-- Simplebar -->
    <!-- Used for adding a custom scrollbar to the drawer -->
    <script src="~/hometheme/assets/vendor/simplebar.js"></script>


    <!-- Vendor -->
    <script src="~/hometheme/assets/vendor/Chart.min.js"></script>
    <script src="~/hometheme/assets/vendor/moment.min.js"></script>


    <!-- APP -->
    <script src="~/hometheme/assets/js/color_variables.js"></script>
    <script src="~/hometheme/assets/js/app.js"></script>


    <script src="~/hometheme/assets/vendor/dom-factory.js"></script>
    <!-- DOM Factory -->
    <script src="~/hometheme/assets/vendor/material-design-kit.js"></script>
    <!-- MDK -->
    <!-- Scripts for MVC -->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)


    <script>(function () {
            'use strict';
            // Self Initialize DOM Factory Components
            domFactory.handler.autoInit()


            // Connect button(s) to drawer(s)
            var sidebarToggle = document.querySelectorAll('[data-toggle="sidebar"]')

            sidebarToggle.forEach(function (toggle) {
                toggle.addEventListener('click', function (e) {
                    var selector = e.currentTarget.getAttribute('data-target') || '#default-drawer'
                    var drawer = document.querySelector(selector)
                    if (drawer) {
                        if (selector == '#default-drawer') {
                            $('.container-fluid').toggleClass('container--max');
                        }
                        drawer.mdkDrawer.toggle();
                    }
                })
            })
        })()</script>

</body>

</html>
